/*
File di stile globale
Contiene tutti gli stili più generali del sito
*/

:root {
    --primary-bg-color: #0A369D;
    --secondary-bg-color: #4472CA;
    --terziary-bg-color: #96C5F7;
}

.navbar {
    background: linear-gradient(var(--primary-bg-color), var(--secondary-bg-color));
    color: white;
}

.navbar a {
    color: white;
}

.alert-success {
    display: none;
    position: absolute;
    top: 25%;
    z-index: 1000;
    left: calc( 50% - 130px);
    margin-bottom: 50%;
}

.alert-danger {
    display: none;
    position: absolute;
    top: 25%;
    z-index: 1000;
    left: calc( 50% - 130px);
    margin-bottom: 50%;
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondary-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.wrap {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}